.a {
    size: 300px;
    border-collapse: collapse;
    width: 450px; 
    height: 100px;
}

.b {
    width: 300px;
    height: 300px;
}


.c {
    width: 50px;
    height: 50px;
}

.d {
    width: 400px; 
    height: 100px;
}

.e {
    width: 400px; 
    height: 400px;  
    margin: 10px;
}

.f {
    display: flex;
}